<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>@ViewData["Title"]Rubius</title>
    <environment include="Development">
        <link href="~/css/materialize.css" rel="stylesheet" type="text/css" media="screen,projection/">
        <link href="~/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </environment>    
    <environment exclude="Development">
        <link href="~/css/materialize.css" rel="stylesheet" type="text/css" media="screen,projection/">
        <link href="~/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </environment> 
</head>
<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
        <img src="~/images/rubiuscompany_logo.jpg" alter="rubius_logo">
    </div>
  </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

        <footer class="page-footer orange">
            <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
            </div>
        </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery-2.1.1.min.js"></script>
        <script src="~/js/materialize.js"></script>
        <script> $(document).ready(function() {
            $('select').material_select();});
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false // Close upon selecting a date,
            });
        </script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery-2.1.1.min.js"></script>
        <script src="~/js/materialize.js"></script>
        <script> $(document).ready(function() {
            $('select').material_select();});
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false // Close upon selecting a date,
            });
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
