@page
@model Rubius.Pages.IndexModel

<body>


<div asp-validation-summary="All"></div>
<form class="col s6" id="form_new_comment" method="POST">
  <div class="row">
    <div class="input-field col s6">
      <input placeholder="Report date" asp-for="projectEntry.Date" type="date" class="datepicker" id="report_date" class="validate" required>
      <label for="report_date" class="active" placeholder="Report date">Report date</label>
    </div>
  </div>
  <div class="row">
    <div id="project" class="input-field col s6">
      <select class="active" asp-for="projectEntry.Project" class="validate" placeholder="Project" required>
        <option value="" disabled selected>Project name</option>
        @foreach (var p in Model.projectsList)
        {
          <option value="@p">@p</option>
        }
      </select>
      <label for="project">Project</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input placeholder="Comment" asp-for="projectEntry.Comment" id="comment" class="validate"  required>
      <label for="comment" class="active">Comment</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      </button>
    </div>
  </div>
</form>
<table class="col s12 blue bordered striped">
  <thead>
  <tr>
    <th>Report date</th>
    <th>Project name</th>
    <th>Comment</th>
  </tr>
  </thead>
  <tbody>
  @foreach (var c in Model.projectEntries)
  {
    <tr>
      <td>@c.Date.ToString("MM/dd/yyyy")</td>
      <td>@c.Project</td>
      <td>@c.Comment</td>
      <td>
        <form method="post">
          <button class="btn waves-effect waves-light" type="submit" formaction="/?id=@c.Id&amp;handler=delete">delete</button>
        </form>
      </td>
    </tr>
  }
  </tbody>
</table>

</body>




